<!-- http://github.com/johansatge/movies -->
<!-- This app uses the TMDb API but is not endorsed or certified by TMDb. -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Movies</title>
    <meta name="description" content="A list of movies I have watched, in a PWA, with ratings and stats">
    <style><%- styles.common %></style>
    <style><%- styles.movies %></style>
    <link href="<%= appAssets.manifest %>" rel="manifest">
    <meta name="viewport" content="width=device-width">
    <meta name="theme-color" content="#ffcf20">
    <link rel="icon" type="image/png" href="<%= appAssets.favicon %>">
    <link rel="apple-touch-icon" href="<%= appAssets['logo-256'] %>">
  </head>
  <body>
    <div class="offline-progress-overlay" data-js-offline-progress-overlay>
      <div class="offline-progress-title">Downloading</div>
      <div class="offline-progressbar">
        <div class="offline-progressbar-progress" data-js-progress-offline></div>
      </div>
      <div class="offline-progress-actions">
        <button class="offline-progress-button" data-js-cancel-offline>Cancel</button>
      </div>
    </div>
    <div class="offline-message-overlay" data-js-offline-message-overlay>
      <div class="offline-message-window">
        <span class="offline-message-icon"></span>
        <div class="offline-message-content" data-js-offline-message-content></div>
        <button class="offline-message-button" data-js-offline-message-confirm>Ok</button>
      </div>
    </div>
    <heading class="topbar topbar--search" data-js-topbar>
      <a href="#" class="topbar-title topbar-title--current">
        <span class="topbar-title-count" data-js-movies-count></span> Movies
      </a>
      <a href="stats/" class="topbar-title">
        Stats
      </a>
      <a href="http://github.com/johansatge/movies" class="topbar-title">
        About
      </a>
      <div class="topbar-offline">
        <button class="topbar-offline-button" data-js-save-offline></button>
      </div>
      <label class="topbar-search">
        <input data-js-search class="topbar-search-input" placeholder="Search movie..." value="">
        <a class="topbar-search-help" href="http://github.com/johansatge/movies/#advanced-search" target="_blank" rel="noopener">Help</a>
      </label>
      <button class="topbar-search-toggle" data-js-search-toggle>Toggle search</button>
    </heading>
    <main class="movies" data-js-movies></main>
    <script type="text/template" data-js-movie-template>
      <div class="movie-bg" style="background-image: url(__poster__)"></div>
      <div class="movie-rating">★ __rating__</div>
      <div class="movie-title">__title__</div>
    </script>
    <div class="no-results" data-js-no-results>No results</div>
    <script src="<%= appAssets.moviesScript %>"></script>
    <script>
      Scripts.movies.init({
        moviesFiles : <%- JSON.stringify(moviesAssets.movies) %>,
        offlineAssets : <%- JSON.stringify(offlineAssets) %>,
      })
    </script>
    <script>
      if (navigator && navigator.serviceWorker) {
        navigator.serviceWorker.register('/serviceworker.js', {scope: '/'})
      }
    </script>
    <script data-goatcounter="https://movies-satge-net.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>

  </body>
</html>
