<!-- http://github.com/johansatge/movies -->
<!-- This app uses the TMDb API but is not endorsed or certified by TMDb. -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Stats</title>
    <meta name="description" content="A list of movies I have watched, in a PWA, with ratings and stats">
    <style><%- styles.common %></style>
    <style><%- styles.stats %></style>
    <link href="<%= appAssets.manifest %>" rel="manifest">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" href="<%= appAssets.favicon %>">
    <link rel="apple-touch-icon" href="<%= appAssets['logo-256'] %>">
  </head>
  <body>
    <heading class="topbar">
      <a href=".." class="topbar-title">
        <span class="topbar-title-count"><%= stats.moviesCount %></span> Movies
      </a>
      <a href="#" class="topbar-title topbar-title--current">
        Stats
      </a>
      <a href="http://github.com/johansatge/movies" class="topbar-title">
        About
      </a>
    </heading>
    <div class="stats">
      <h2 class="stat-heading">
        Ratings
      </h2>
      <div class="stat-graph">
        <canvas data-js-stats-movies-by-rating></canvas>
      </div>
      <h2 class="stat-heading">
        Release years
      </h2>
      <div class="stat-graph">
        <canvas data-js-stats-movies-by-release-years></canvas>
      </div>
      <h2 class="stat-heading">
        Runtime
      </h2>
      <div class="stat-graph">
        <canvas data-js-stats-movies-by-runtime></canvas>
      </div>
      <h2 class="stat-heading">
        Watched by month
      </h2>
      <div class="stat-graph">
        <canvas data-js-stats-movies-by-month></canvas>
      </div>
      <h2 class="stat-heading">
        Actors
      </h2>
      <div class="stat-table">
        <table cellspacing="0" cellpadding="0" data-js-stats-actors-list></table>
        <button class="stat-more" data-js-stats-more-actors>More...</button>
      </div>
      <h2 class="stat-heading">
        Directors
      </h2>
      <div class="stat-table">
        <table cellspacing="0" cellpadding="0" data-js-stats-directors-list></table>
        <button class="stat-more" data-js-stats-more-directors>More...</button>
      </div>
      <h2 class="stat-heading">
        Genres
      </h2>
      <div class="stat-table">
        <table cellspacing="0" cellpadding="0">
          <% stats.genres.forEach((item, index) => { %>
            <tr class="<%= index % 2 === 0 ? 'stat-table-row--alt' : '' %>">
              <td><a href="../#genre:<%= item.label %>"><%= item.label %></a></td>
              <td><%= item.count %></td>
            </tr>
          <% }) %>
        </table>
      </div>
    </div>
    <script src="<%= appAssets.statsScript %>"></script>
    <script>
      Scripts.stats.init({
        moviesByRating : <%- JSON.stringify(stats.ratings) %>,
        moviesByMonth : <%- JSON.stringify(stats.months) %>,
        moviesByReleaseYears : <%- JSON.stringify(stats.releaseYears) %>,
        moviesByRuntime : <%- JSON.stringify(stats.runtimes) %>,
        actorsFiles : <%- JSON.stringify(moviesAssets.actors) %>,
        actorsCount : <%- stats.actorsCount %>,
        directorsFiles : <%- JSON.stringify(moviesAssets.actors) %>,
        directorsCount : <%- stats.directorsCount %>,
      })
    </script>
    <script>
      if (navigator && navigator.serviceWorker) {
        navigator.serviceWorker.register('/serviceworker.js', {scope: '/'})
      }
    </script>
  </body>
</html>
