<!-- http://github.com/johansatge/movies -->
<!-- This app uses the TMDb API but is not endorsed or certified by TMDb. -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Stats</title>
    <style><%- statsStyles %></style>
    <link href="../<%= assets.manifest %>" rel="manifest">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" href="../<%= assets.favicon %>">
  </head>
  <body>
    <div class="topbar">
      <a href=".." class="topbar-title">
        <span class="topbar-title-count"><%= movies.length %></span> Movies
      </a>
      <a href="#" class="topbar-title topbar-title--current">
        Stats
      </a>
      <a href="http://github.com/johansatge/movies" class="topbar-title">
        About
      </a>
    </div>
    <div class="stats">
      <h2 class="stat-heading">
        Movies by rating
      </h2>
      <div class="stat-graph">
        <canvas data-js-stats-movies-by-rating></canvas>
      </div>
      <h2 class="stat-heading">
        Movies by release year
      </h2>
      <div class="stat-graph">
        <canvas data-js-stats-movies-by-release-years></canvas>
      </div>
      <h2 class="stat-heading">
        Movies by month
      </h2>
      <div class="stat-graph">
        <canvas data-js-stats-movies-by-month></canvas>
      </div>
      <h2 class="stat-heading">
        Most seen actors
      </h2>
      <div class="stat-table">
        <table cellspacing="0" cellpadding="0" data-js-stats-actors-list></table>
        <button class="stat-more" data-js-stats-more-actors>More...</button>
      </div>
      <h2 class="stat-heading">
        Most seen directors
      </h2>
      <div class="stat-table">
        <table cellspacing="0" cellpadding="0" data-js-stats-directors-list></table>
        <button class="stat-more" data-js-stats-more-directors>More...</button>
      </div>
    </div>
    <script src="../<%= assets.polyfillsScript %>"></script>
    <script src="../<%= assets.statsScript %>"></script>
    <script>
      Scripts.stats.init({
        moviesByRating : <%- JSON.stringify(stats.ratings) %>,
        moviesByMonth : <%- JSON.stringify(stats.months) %>,
        moviesByReleaseYears : <%- JSON.stringify(stats.releaseYears) %>,
        actorsFiles : <%- JSON.stringify(actorsFiles) %>,
        actorsCount : <%- stats.actorsCount %>,
        directorsFiles : <%- JSON.stringify(directorsFiles) %>,
        directorsCount : <%- stats.directorsCount %>,
      })
    </script>
    <script>
      if (navigator && navigator.serviceWorker) {
        navigator.serviceWorker.register('../serviceworker.js', {scope: '/'})
      }
    </script>
  </body>
</html>
